<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <main>
        <!----------------------- navigation bar section ------------------------>
        <menu class="navbar">
            <nav>
                <a href="../index.html"><img src="../images/SHYAKA.png" class="img" alt="SHYAKA Logo"></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/allposts.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html"><strong>About</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/contact.html">Contact</a>
                    </li>
                </ul>
                <button type="button" class="btn">Hire me</button>
                <a href="../pages/login.html">
                    <img src="../images/login.png" class="login-img" alt="SHYAKA Logo">
                </a>
            </nav>
        </menu>

        <!----------------------- navigation bar section ------------------------>

        <!----------------------- Hero section ------------------------>
        <section class="about-section">
            <div class="login-div">
                <h3 class="login-title">About me</h3>
                <form action="">

                    <p class="about-text">
                        I am Benjamin SHYAKA Welcome to my website. I am a passionate and courageous fullstack developer based in Rwanda. <br> I started my journey as a developer at IPRC EAST where i studied computer science in high school and i am studing
                        my bachelors degree Information Technology in at Univeristy of Rwanda. I participated in different projects as a backend developer and i did some internships. <br> I am always willingly to study new technologies apart from what
                        i studied at school, i usualy use studing website like w3schools and freecodecamp. I also recently joinedd Andela Leadership program. <br> I am always ready to help, just don’t hesitate to contact me on any of my social media,
                        i respond as soon as possible. <br>
                    </p>
                </form>
            </div>
        </section>
        <!----------------------- Hero section ------------------------>

    </main>

    <footer>
        <div>
            <p><img src="../images/SHYAKA.png" class="footer-img" alt=""></p>
            <span>Kigali-Rwandas </span>
            <span>Nyarugenge</span>
        </div>

        <div class="useful">
            <p>Useful link</p>
            <a class="social-btn">&gt; About</a>
            <a class="social-btn">&gt; Blog</a>
            <a class="social-btn">&gt; Contact</a>
        </div>

        <div>
            <p>Follow me on my social medias</p>
            <a class="social-btn"><img src="../images/in.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/ins.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/face.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/git.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/twi.png" class="social-img" alt=""></a>
        </div>
    </footer>

</body>

</html>