<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHYAKA</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css">

    </style>
</head>

<body class="blog-body">
    <main>
        <!----------------------- navigation bar section ------------------------>
        <menu class="navbar">
            <nav>
                <a href="/"><img src="/images/SHYAKA.png" class="img" alt="SHYAKA Logo"></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs/all"><strong>Blog</strong> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/contact.html">Contact</a>
                    </li>
                </ul>
                <button type="button" class="btn">Hire me</button>
                <a href="/auth/signin">
                    <img src="../images/login.png" class="login-img" alt="SHYAKA Logo">
                </a>
            </nav>
        </menu>
        <!----------------------- navigation bar section ------------------------>


    </main>

    <section class="blog-section">

        <p class="titles">
            <strong>All blogs</strong>
        </p>
        <section id="blog_sect" class="blog_sect">


        </section>

    </section>



    <footer>
        <div>
            <p><img src="../images/SHYAKA.png" class="footer-img" alt=""></p>
            <span>Kigali-Rwandas </span>
            <span>Nyarugenge</span>
        </div>

        <div class="useful">
            <p>Useful link</p>
            <a class="social-btn">&gt; About</a>
            <a class="social-btn">&gt; Blog</a>
            <a class="social-btn">&gt; Contact</a>
        </div>

        <div>
            <p>Follow me on my social medias</p>
            <a class="social-btn"><img src="../images/in.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/ins.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/face.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/git.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="../images/twi.png" class="social-img" alt=""></a>
        </div>
    </footer>

    <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script> -->

    <!-- <script src="../js/firebase-config.js"></script> -->
    <!-- <script src="../js/auth.js"></script> -->
    <!-- <script src="../js/logout.js"></script> -->
    <script src="/javascripts/Posts.js"></script>

</body>

</html>