<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHYAKA Home</title>
    <!-- <link rel="stylesheet" href="styles/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style type="text/css">

    </style>
</head>

<body>
    <main>
        <!----------------------- navigation bar section ------------------------>
        <menu class="navbar">
            <nav>
                <a href="/"><img src="/images/SHYAKA.png" class="img" alt="SHYAKA Logo"></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><strong>Home</strong> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs/all">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./pages/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./pages/contact.html">Contact</a>
                    </li>
                </ul>
                <button type="button" class="btn">Hire me</button>
                <a href="/auth/signin">
                    <img src="./images/login.png" class="login-img" alt="SHYAKA Logo">
                </a>
            </nav>
        </menu>
        <!----------------------- navigation bar section ------------------------>



        <!----------------------- Hero section ------------------------>
        <section class="hero-section">
            <div class="hero-cont">
                <h1>
                    SHYAKA Benjamin
                </h1>
                <h4>
                    A full-stack developer
                </h4>
                <p class="hero_p">
                    I’m a fullstack developer based in rwanda, I’m front-end, back-end developer with 4+ years of experiance
                </p>
                <button type="button" class="btn">Hire me</button>
                <a class="btn-dwn"><img src="./images/download.png" class="dwn-img" alt=""> Download my CV</a>
            </div>
            <div class="hero-img">
                <img src="./images/ben.png" alt="SHYAKA benjamin hero img">
            </div>
        </section>
        <!----------------------- Hero section ------------------------>

    </main>
    <p class="titles">
        <strong>Services you will get from me</strong>
    </p>
    <section class="services-section">

        <div class="services">
            <img src="./images/service1.png" class="img-services" alt="UI/UX Desing">
            <span><h4>UI/UX Design</h4></span>
            <P>Design most stuning user friendly prototypes and informatin arctecture</P>
        </div>
        <div class="services">
            <img src="./images/service1.png" class="img-services" alt="UI/UX Desing">
            <span><h4>WEB Design</h4></span>
            <P>I design proffesional quality websites with 24/7 security monitoring and hosting</P>
        </div>
        <div class="services">
            <img src="./images/service1.png" class="img-services" alt="UI/UX Desing">
            <span><h4>Digital marketing</h4></span>
            <P>Design most stuning user friendly prototypes and informatin arctecture</P>
        </div>

    </section>


    <p class="skills-title">
        <strong>Skills</strong>
    </p>
    <section class="skills">

        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/css.png" width="100px" alt="UI/UX Desing">
            </div>
            <h4>CSS 3</h4>
        </div>
        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/html.png" alt="UI/UX Desing">
            </div>
            <h4>HTML 5</h4>
        </div>
        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/node.png" alt="UI/UX Desing">
            </div>
            <h4 class="skill-det">NodeJs</h4>
        </div>
        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/post.png" alt="UI/UX Desing">
            </div>
            <h4 class="skill-det">PostgreSql</h4>
        </div>
        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/boot.png" alt="UI/UX Desing">
            </div>
            <h4 class="skill-det">Bootstrap</h4>
        </div>
        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/mongo.png" alt="UI/UX Desing">
            </div>
            <h4 class="skill-det">MondoDB</h4>
        </div>
        <div class="skill-icon">
            <div class="skill-img">
                <img src="./images/react.png" alt="UI/UX Desing">
            </div>
            <h4 class="skill-det">ReactJs</h4>
        </div>
    </section>


    <p class="titles">
        <strong>Recent from our blog</strong>
    </p>
    <section class="blog-sect">

        <div class="blog-index">
            <img src="./images/blog1.png" class="img-blog" alt="UI/UX Desing">
            <div class="blog-text">
                <span> <strong>By SHYAKA Benjamin on 02 feb 2022</strong></span><br><br>
                <span class="">Bass is thick and highs avoid that crinkly crunch, making them ideal for appreciating sound design in movies and discovering new parts</span>
                <a href="">Read more</a>
            </div>
        </div>
        <div class="blog-index">
            <img src="./images/blog2.png" class="img-blog" alt="UI/UX Desing">
            <div class="blog-text">
                <span><strong>By SHYAKA Benjamin on 02 feb 2022</strong></span><br><br>
                <span class="blog-text">Previously it was thought that wired networks were faster and more secure than wireless networks. But continual enhancements to wireless  </span>
                <a href="">Read more</a>
            </div>
        </div>
        <div class="blog-index">
            <img src="./images/blog3.png" class="img-blog" alt="UI/UX Desing">
            <div class="blog-text">
                <span><strong>By SHYAKA Benjamin on 02 feb 2022</strong></span><br><br>
                <span class="blog-text">Since pioneering the use of flexible epoxy technology for microelectronic packaging in 1985, AI Technology has been one of leading</span>
                <a href="">Read more</a>
            </div>
        </div>




    </section>

    <footer>
        <div>
            <img src="images/SHYAKA.png" alt="">
            <span>Kigali-Rwandas </span>
            <span>Nyarugenge</span>
        </div>

        <div class="useful">
            <span>Useful link</span>
            <a class="social-btn">&gt; About</a>
            <a class="social-btn">&gt; Blog</a>
            <a class="social-btn">&gt; Contact</a>
        </div>

        <div>
            <p>Follow me on my social medias</p>
            <a class="social-btn"><img src="images/in.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="images/ins.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="images/face.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="images/git.png" class="social-img" alt=""></a>
            <a class="social-btn"><img src="images/twi.png" class="social-img" alt=""></a>
        </div>
    </footer>

</body>

</html>