<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHYAKA dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard_style.css">
</head>

<body>


    <div class="grid-container">
        <div class="item1">
            <main>
                <menu class="navbar">
                    <nav>
                        <a href="/"><img src="/images/SHYAKA.png" class="img" alt="SHYAKA Logo"></a>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./index.html"><strong>Blogs</strong> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./pages/blog.html">Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./pages/about.html">Settings</a>
                            </li>
                        </ul>

                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Settings</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="/auth/logout">Logout</a>
                                <a href="#about">My profile</a>
                            </div>
                        </div>
                    </nav>
                </menu>

            </main>
        </div>
        <div class="item2"></div>
        <div class="item3"></div>
        <div class="item4"></div>
        <div class="item5"></div>
    </div>

    <section>
        <div class="container">

            <div id="blogalert" class="blogalert">
                <p><small>Update the blog</small></p>
            </div>
            <% if (data) { %>
                <form class="addblog" action="/user/blogs/update/<%- data._id %> " method="post">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <div class="mb-3">
                        <input type="text" id="title" name="title" placeholder="John Doe" value="<%- data.title %> ">
                    </div>
                    <label for="blogcontent" class="form-label">Picture</label>
                    <div>
                        <input type="text" name="image" id="image" value="<%- data.image %> " placeholder="https://www.site.com/digital.jpg">
                        <input type="hidden" id="postId" name="author" value="SHYAKA Benjamin">
                        <input type="hidden" id="createdAt" name="createdAt" value="">

                    </div>
                    <label for="exampleFormControlTextarea1">Blog content</label>
                    <div class="mb-3">
                        <textarea name="body" id="body" rows="5"><%- data.body %> </textarea>
                    </div>
                    <button type="reset">Clear</button>
                    <button type="submit" id="addPost">Update</button>
                </form>
                <% } %>



        </div>
    </section>

    <script src="/javascripts/main.js"></script>

    <script>
        let today = new Date().toLocaleDateString()
        console.log(today)
        document.getElementById('createdAt').value = today
    </script>

</body>

</html>